.fretboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.fret-numbers {
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding: 0 10px;
  margin-bottom: 5px;
  box-sizing: border-box;
}

.fret-number {
  flex: 1;
  text-align: center;
  color: #888;
}

.fretboard-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.string-indicators {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px 0;
  margin-right: 10px;
}

.string-indicator {
  flex: 1;
  text-align: center;
  color: #888;
}

.muted-string {
  font-weight: bold;
  color: var(--text-color);
}

.fretboard {
  display: flex;
  flex-direction: row;
  background-color: var(--secondary-color);
  width: 100%;
  aspect-ratio: 7 / 3;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.fret {
  flex: 1;
  border-right: 1px solid #c4bcae;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 0;
  box-sizing: border-box;
}

.fretboard.show-nut .fret:first-child {
  border-left: 5px solid #a99e8c;
}

.fret:last-child {
  border-right: none;
}

.string {
  border-bottom: 1px solid #c4bcae;
  box-sizing: border-box;
  position: relative;
}

.dot {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: clamp(12px, 2vw, 22px);
  height: clamp(12px, 2vw, 22px);
  background-color: #424242;
  border-radius: 50%;
}

.barre-container {
  position: absolute;
  width: 100%;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.barre {
  width: 20%;
  height: 100%;
  background: #424242;
  border-radius: 5px;
}