<div class="fretboard-container">
  <div class="fret-numbers">
    <div *ngFor="let fret of frets" class="fret-number">
      {{ fret }}
    </div>
  </div>
  <div class="fretboard-wrapper">
    <div class="string-indicators">
      <div *ngFor="let string of strings" class="string-indicator">
        <span class="muted-string" [class.visible]="isMuted(string)">X</span>
      </div>
    </div>
    <div class="fretboard" [class.show-nut]="showNut">
      <div *ngFor="let fret of frets" class="fret">
        <!-- Fret Inlays are handled by CSS nth-child for simplicity based on standard tuning/fretboard -->

        <div *ngFor="let string of strings" class="string" [style.height]="getStringThickness(string)">
          <div *ngIf="isFretted(string, fret) && !isBarre(fret, string)" class="dot"></div>
        </div>

        <div *ngIf="voicing.barre && voicing.barre.fret === fret" class="barre-container"
          [style.top.%]="(voicing.barre.startString * 100 / 6) - 2"
          [style.height.%]="((voicing.barre.endString - voicing.barre.startString + 1) * 100 / 6)">
          <div class="barre"></div>
        </div>
      </div>
    </div>
  </div>
</div>