.section {
  margin-bottom: 30px;
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.section h2 {
  font-size: clamp(1.2rem, 3vw, 1.5rem);
  font-weight: 500;
  margin: 0;
}

.chord-type-selection {
  display: flex;
  gap: 10px;
}

.chord-type-selection button {
  background-color: var(--light-text-color);
  border: 1px solid var(--border-color);
  border-radius: 10px;
  padding: 8px 15px;
  cursor: pointer;
  transition: all 0.3s;
  margin: 3px;
}

.chord-type-selection button:hover {
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.chord-type-selection button.active {
  background-color: var(--primary-color);
  color: var(--light-text-color);
  border-color: var(--primary-color);
}


.filter-chords {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.filter-chords button {
  background-color: var(--light-text-color);
  border: 1px solid var(--border-color);
  border-radius: 10px;
  padding: 10px 15px;
  cursor: pointer;
  transition: all 0.3s;
}

.filter-chords button:hover {
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.filter-chords button.selected {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
}
