<div class="app-container">
  <div class="main-card">
    <app-chord-display
      [chord]="chord"
      [nextChord]="nextChord"
      [voicing]="currentChordFingering"
      [dot]="dot"
      [started]="started"
      [muted]="muted"
      [tempo]="tempo"
      [beat]="beat"
      (start)="start()"
      (stop)="stop()"
      (toggleMute)="toggleMute()"
      (updateTempo)="updateTempo($event)"
    ></app-chord-display>
    <app-controls
      [beat]="beat"
      [progressionMode]="progressionMode"
      (setProgression)="setProgression($event)"
    >
      <app-time-signature-selector (timeSignatureChange)="onTimeSignatureChange($event)"></app-time-signature-selector>
    </app-controls>

    <div class="section">
      <div class="section-header selected-chords-header">
        <h2>You Selected:</h2>
        <button (click)="clearAll()" class="clear-all-button">Clear All</button>
      </div>
      <div class="selected-chords">
        <div *ngFor="let item of selChords" class="chord-chip">
          {{ item }}
        </div>
      </div>
    </div>
  </div>

  <app-circle-of-fifths
    *ngIf="progressionMode === 'circleOfFifths'"
    (familyChordsSelected)="onFamilyChordsSelected($event)"
    (chordSelected)="onCircleChordSelected($event)">
  </app-circle-of-fifths>

  <app-chord-selector *ngIf="progressionMode !== 'circleOfFifths'"
    [chords]="chords"
    [selChords]="selChords"
    (selectChord)="cardOnClick($event)"
    (clearAll)="clearAll()"
    (selectChordType)="onSelectChordType($event)"
  ></app-chord-selector>

  <footer>
    Made with ♥️ for the fellow Guitar Beginners
  </footer>
</div>
