<div class="app-container">
  <div class="main-card">
    <app-chord-display
      [chord]="chord"
      [nextChord]="nextChord"
      [voicing]="currentChordFingering"
      [dot]="dot"
    ></app-chord-display>
    <app-controls
      [started]="started"
      [muted]="muted"
      [tempo]="tempo"
      [beat]="beat"
      [progressionMode]="progressionMode"
      (start)="start()"
      (stop)="stop()"
      (toggleMute)="toggleMute()"
      (updateTempo)="updateTempo($event)"
      (changeBeat)="changeBeat($event)"
      (setProgression)="setProgression($event)"
    ></app-controls>
  </div>

  <app-chord-selector
    [chords]="chords"
    [selChords]="selChords"
    (selectChord)="cardOnClick($event)"
    (clearAll)="clearAll()"
    (selectChordType)="onSelectChordType($event)"
  ></app-chord-selector>

  <footer>
    Made with ❤️ for fellow <b>Guitar Beginners</b>
  </footer>
</div>
